[submodule "Tools/NRDC"]
	path = Tools/NRDC
	url = https://github.com/buu342/N64-NRDC.git
	branch = master
    ignore = dirty
[submodule "Tools/UNFLoader"]
	path = Tools/UNFLoader
	url = https://github.com/buu342/N64-UNFLoader.git
	branch = master
    ignore = dirty
[submodule "Tools/MemMapper"]
	path = Tools/MemMapper
	url = https://github.com/buu342/CPP-MemMapper.git
	branch = master
    ignore = dirty
[submodule "Tools/Binutils"]
	path = Tools/Binutils
	url = git://sourceware.org/git/binutils-gdb.git
    branch = master
    ignore = dirty
[submodule "Tools/GCC"]
	path = Tools/GCC
	url = git://gcc.gnu.org/git/gcc.git
    branch = master
    ignore = dirty
